.flyout {
  position: absolute;  
  z-index: 10;
  width: 100%;
  height: 80%;
  @include transition( all 0.3s );

  .modal {
    position: relative;
    margin: 0 auto;
    background: white;
    max-height: 100%;

    max-width: 960px;
    border-top: 5px solid $brand-color;
    overflow: scroll;

    .corner-buttons {
      position: absolute;
      top: 10px;
      right: 10px;
      font-weight: 500;
      font-size: 16px;
      @include transition( all 0.3s );

      i {
        // padding-right: 5px;
      }

      &:hover {
        color: darken($link-color, 20%);
      }

      .like-button {
        margin-right: 10px;

        span {

          margin-left: 5px;

          @media (max-width: $small-screen) {
            display: none;
          }
        }
      }

      .close-button {

        i {
          font-size: 60px;
        }

      }
    }

    .heading {
      clear: both;
      display: table;
      padding: 40px 40px;
      width: 100%;
      border-bottom: 2px dashed #ededed;

      h1 {
        font-size: 40px;
        margin-bottom: 10px;
        color: $link-color;
      }
    }

    .content {
      padding: 40px;
    }
  }
}

.visible {
  bottom: 0px !important;

  .modal {
    box-shadow: $shadow;
  }
}

.description {

    .profile-image {
      float: left;
      height: 170px;
      width: 170px;
      overflow: hidden;
      border-radius: 50%;
      border: 5px solid $brand-color;

      img {
        height: 100%;
      }

      @media (max-width: $small-screen) {
        display: none;
      }
    }

    .heading {
      // margin: 0 auto;

      .center-heading {
        display: table;
        margin: 0 auto;
      }

      .venue-address {
        margin-top: 50px;
        float: left;
        padding-left: 40px;

        h1 {
          font-size: 24px;
          text-transform: uppercase;
          letter-spacing: 1px;
          color: $brand-color;
          font-weight: 500;
          margin-bottom: 3px;
        }

        h2 {
          font-size: 18px;
        }

        h3 {
          font-size: 18px;
          color: $link-color;
        }

        @media (max-width: $small-screen) {
          margin: 0;
          padding: 0;
        }
      }
    }

  .venue-details {
    display: block;
    clear: both;
    width: 100%;

    .detail {
      padding: 20px 0;
      text-align: center;
      width: 25%;
      float: left;
      overflow: hidden;

      @media (max-width: $small-screen) {
        width: 100%;
        border-top: 1px solid $link-color;
      }

    &:hover {
      background: $link-color;
      color: #fff;
    }

      i {
        font-size: 60px;
      }

      p {
        padding-top: 5px;
      }
    }
  }

  .map {
    // position: absolute;
    width: 100%;
    // height: 150px;
    bottom: 0
  }
}

.gallery {

  .exhibit {
    display: table;
    clear: both;
    padding: 20px 0;
    border-bottom: 2px dashed #ededed;

    .feature {
      min-width: 240px;
      max-width: 70%;
      border: 5px solid #ededed;
      float: left;

      img {
        width: 100%;
      }
    }
  }

  .aside {
    float: left;
    min-width: 150px;
    max-width: 30%;
    padding: 0 20px;

    @media (max-width: $small-screen) {
      padding: 10px 0 0;
    }

    h2 {
      font-size: 18px;
      font-weight: 500;
      color: $brand-color;
      margin-bottom: 3px;
    }

    p {
      margin-bottom: 10px;
    }

    a {
      display: inline;
      padding: 10px 10px 0 0;

      i {
        font-size: 50px;
      }
    }
  }
}

.share {

  .content {
    display: table;
    width: 100%;
  }

  .social-icon {
    width: 33.33%;
    float: left;
    text-align: center;
    margin: 0 0 20px;

    a {
      @include transition(all, 0.3s);
    }

    i {
      display: block;
      font-size: 110px;
      padding: 20px;
    }
  }

  .facebook {

    &:hover a {
      color: #3b5998;
    }
  }

  .twitter {

    &:hover a {
      color: #9AE4E8;
    }
  }

  .google {

    &:hover a {
      color: #dd4b39;
    }
  }

  .pinterest {

    &:hover a {
      color: #cc2127;
    }
  }

  .other {

    &:hover a {
      color: #3498db;
    }
  }
}

.contact {

  .contact-form {
    text-align: center;

    input,
    textarea {
      display: block;
      font-size: 16px;
      -webkit-appearance: none;
      border: none;
      border-radius: 5px;
      padding: 10px 15px;
    }

    input[type=text],
    textarea {
      border: 2px solid $link-color;
    }

    textarea,
    input {
      width: 100%;
      max-width: 400px;
      margin: 10px auto;
    }

    input[type=submit] {
      color: white;
      padding: 15px;
      background: $link-color;
      cursor: pointer;

      &:hover {
        background: darken($link-color, 20%);
      }
    }
  }
}

.news {

  #newsfeed {
    max-width: 103.125%;
    // overflow: hidden;
    margin-left: 2%;
    // margin-bottom: -1.875em;

    .item {
      background-color: #ededed;
      max-width: 30%;
      min-width: 250px;
      margin: 0 auto;
      float: left;
      // margin: 10px;

      .head {
        position: relative;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 1px;
        padding: 20px;

        .medium {
          position: absolute;
          top: 20px;
          right: 20px;

          .icon {
            font-size: 40px;
          }
        }
      }

      .social-content {
        // overflow: hidden;

        img {
          width: 100%;
        }
      }

      .copy {
        padding: 20px;
        background: rgba(0,0,0,0.1)
      }
    }
  }
}
