body {
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: #444;
  position: relative;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  overflow: hidden;
}

input,
textarea,
button {
  outline: none;
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #666;
}

a {
  color: $link-color;
  text-decoration: none;
  @include transition( all, 0.3s );
}

#content {
  background: #fff;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

@media (max-width: $small-screen) {
  i {
    display: inline-block !important;
  }
}

.like {
  color: $link-color;
}

.liked {
  color: #e23e32;
}

.fancy-title {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 3;

  @media (max-width: $small-screen) {
    visibility: none;
  }

  div {
    position: relative;
    display: table;
    margin: 0 auto;
    border-left: 10px solid $brand-color;
    padding-left: 40px;

    @media (max-width: $small-screen) {
      border-width: 5px;
      padding-left: 20px;
    }
  }

  h1 {
    font-size: 80px;
    font-weight: 500;
    line-height: 1.2em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-shadow: $shadow;

    @media (max-width: $small-screen) {
      font-size: 20px;
      letter-spacing: 5px;
    }
  }
}

#content {
  box-shadow:  3px 0px 5px rgba(0, 0, 0, 0.2);
}