.navigation {
  position: fixed;
  height: 50px;
  z-index: 9999;
  width: 100%;

  nav {
    position: relative;

    a {
      color: white;
    }

    .logo,
    .nav-items {
      top: 20px;
      text-shadow: $shadow
    }

    .logo {
      position: absolute;
      left: 20px;

      a {
        font-size: 24px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2px;
      }

      .venue-title {
        color: $brand-color;
        font-weight: 500;

        @media (max-width: $small-screen) {
          color: white;
          font-weight: 400;
          font-size: 20px;
        }
      }

      .platform-title {

        @media (max-width: $small-screen) {
          display: none;
        }
      }
    }

    .nav-items {
      position: absolute;
      right: 20px;

      i {
        font-size: 60px;
      }

      .icon {
        font-size: 120px;
      }
    }
  }
}