.sidebar {
  background: $base-color;
  color: $link-color;
  font-size: 16px;
  font-weight: 400;

  ul {

    li {
      border-bottom: 1px solid lighten($base-color, 5%);

      a {
        display: block;
        padding: 20px;
        @include transition(all, 0.3s);

        @media (min-width: $small-screen) {

          &:hover {
            background: lighten($base-color, 5%);
            border-right: 5px solid $brand-color;
          }
        }
      }

      .active {
        background: lighten($base-color, 5%);
        border-right: 5px solid #3498db !important;
      }

      i {
        padding-right: 15px;
      }
    }
  }

  p {
    font-size: 12px;
    font-weight: 400;
    color: lighten($base-color, 20%);
    padding: 20px 0;
    text-align: center;;
  }
}
