.overlay {
  opacity: 0;
  position: relative;
  height: 100%;
  background: rgba(0,0,0,0.6);
  z-index: 1;

  .sign-in-module {
    position: absolute;
    width: 400px;
    top: 10%;
    left: 50%;
    margin-left: -200px;
    background: white;
    padding: 20px 40px;
    text-align: center;
    box-shadow: $shadow;
    border-top: 5px solid $brand-color;

    @media (max-width: $small-screen) {
      width: 100%;
      margin: 0;
      top: 0;
      left: 0;
    }

    h2 {
      font-size: 30px;
      margin-bottom: 20px;
      color: $brand-color;
      font-weight: 500;
    }

    input {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      min-width: 230px;
      margin-bottom: 10px;
      padding: 15px;
      border-radius: 5px;
      font-size: 14px;

      &[type=text] {
        border: 2px solid $link-color;
      }

      &[type=submit] {
        border: none;
        background: $link-color;
        color: #fff;
        cursor: pointer;

        &:hover {
          background: $brand-color;
        }
      }
    }

    .sign-in-close {
      position: absolute;
      top: 7px;
      right: 10px;

      .icon {
        font-size: 60px;
      }
    }
  }
}

.visible {
  opacity: 1;
  z-index: 9999;
  // @include transition(all, 0.5s);
}