// import bourbon

@import 'bourbon/bourbon';


// variables
$base-color: #1e252d;
$brand-color: #25c35f;
$base-font-size: 16px;
$font-primary-color: #666;
$link-color: #b1c0d2;
$base-line-height: 1.6rem;
$top-gap: 1rem;


// button styles

$button-color: #CB424E;
$button-radius: 4px;
$button-text-color: white;


// shadow styles

$shadow: 0px 0px 30px rgba(0, 0, 0, 0.85);


// media queries

$small-screen: 640px;


// import neat

@import 'neat/neat';


// import vendor

@import 'vendor/snapjs';
@import 'vendor/superslides';


// import base

@import 'base/layout';
@import 'base/navigation';
@import 'base/sidebar';
@import 'base/flyout';
@import 'base/sign-in';
@import 'base/masonry';
// @import 'base/media-queries';